<div class="container">
  <h2>Page 5</h2>

  <!-- Kullanıcı ID'sini manuel olarak girme alanı -->
  <div class="input-container">
    <label for="userId">User ID:</label>
    <input type="text" id="userIdInput" [(ngModel)]="userId" />
    <button (click)="fetchButtonClicks()">Get Button Clicks</button>
  </div>

  <div *ngIf="buttonClicks.length > 0">
    <h3>Button Clicks</h3>
    <ul>
      <li *ngFor="let click of buttonClicks">
        Button Name: {{ click.button_name }} - Click Count: {{ click.click_count }}
      </li>
    </ul>
  </div>
  <p *ngIf="message">{{ message }}</p>
  <br>
  <button (click)="logout()">Çıkış Yap</button>
</div>
