<div>
  <div class="cards">
    <div class="card red" (click)="navigateToPage('page1', 'buttonPage1')">
      <p class="tip">Sayfa 1 e git</p>
    </div>
    <div class="card blue" (click)="navigateToPage('page2', 'buttonPage2')">
      <p class="tip">Sayfa 2 e git /p>
    </div>
    <div class="card green" (click)="navigateToPage('page4', 'buttonPage4')">
      <p class="tip">Sayfa4 e git</p>
    </div>
    <div class="card green" (click)="logout()">
      <p class="tip">Çıkış Yap</p>
    </div>
  </div>
</div>
