
<div>
  <span
data-active-content="🤨"
data-hover-content="🤯"
data-content="🤓"
class="💀"
></span>

  <div class="cards">
    <div class="card red" (click)="navigateToPage('page2', 'buttonPage2')">
      <p class="tip">Sayfa 2 e git</p>
    </div>
    <div class="card blue" (click)="navigateToPage('page3', 'buttonPage3')">
      <p class="tip">Sayfa 3 e git /p>
    </div>
    <div class="card green" (click)="navigateToPage('page4', 'buttonPage4')">
      <p class="tip">Sayfa4 e git</p>
    </div>
    <div class="card green" (click)="logout()">
      <p class="tip">Çıkış Yap</p>
    </div>
  </div>
</div>
