<div class="wrapper">
  <form>
    <h2>Kayıt Ol</h2>
    <div class="input-field">
      <input type="text" #username placeholder="Kullanıcı Adı" required>
    </div>
    <div class="input-field">
      <input type="email" #email placeholder="Email" required>
    </div>
    <div class="input-field">
      <input type="password" #password placeholder="Şifre" required>
    </div>
    <button type="button" (click)="register(username.value, email.value, password.value)">Kayıt Ol</button>
    <div class="login">
      <p>Zaten üye misin? <a [routerLink]="['/login']">Giriş Yap</a></p>
    </div>
  </form>
  <p>{{ message }}</p>
</div>